{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">s</span><span class="base09">i</span><span class="base0a">g</span><span class="base0b">m</span><span class="base0c">a</span><span class="base0d">r</span><span class="base0e">i</span><span class="base0f">s</span><span class="base10">.</span><span class="base08">i</span><span class="base09">n</span><span class="base0a">f</span><span class="base0b">o</span><span class="base05">]</span>
  <span class="base05">#</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>
